/**
 * @name UI Refresh Refresh
 * @author programmer2514
 * @description Enjoy Discord's UI refresh without the visual inconsistencies.
 * @version 1.4.1
 */

:root {
    --uirr-forum-panel-width: 450px;
}

*[class] {
    --app-border-frame: var(--border-subtle);
    --border-faint: var(--border-subtle);
}

.visual-refresh {
    --custom-guild-list-padding: min(var(--space-sm));
}

.sidebarListRounded_c48ade,
.sidebar_c48ade,
.page_c48ade {
    border-radius: 0 !important;
    border-left: none !important;
}

.guilds_c48ade {
    border-top: 1px solid var(--border-subtle);
    border-right: 1px solid var(--border-subtle);
}

.tree_ef3116 {
    padding-top: var(--space-xxs) !important;
}

.platform-win .title_c38106 {
    justify-content: start;
    margin-left: var(--space-xs);
}

.title_bb0d86 div:last-child::before {
    content: "Discord - ";
}

.winButtons_c38106 {
    gap: 0;
}

.winButtons_c38106::before {
    padding-right: var(--space-xxs);
}

.winButton_c38106 {
    padding: 0 var(--space-xs);
}

.trailing_c38106 {
    gap: var(--space-xs);
}

.clickable_c99c29 {
    transform: scale(0.9);
}


.iconWrapper__9293f {
    transition: background-color 0.2s;
    border-radius: 8px;
}

.clickable_c99c29 {
    --custom-horizontal-padding: 2px;
    transition: background-color 0.2s;
    border-radius: 8px;
    margin: 0px;
    padding-top: calc(var(--space-xxs) + var(--custom-horizontal-padding));
    padding-bottom: calc(var(--space-xxs) + var(--custom-horizontal-padding));
    width: var(--space-32);
    justify-content: center;
}

.clickable_c99c29 > * {
    height: var(--space-32);
}

.buttons__37e49 {
    gap: var(--space-xxs);
}

.iconWrapper__9293f:hover,
.clickable_c99c29:hover {
    background-color: var(--background-modifier-selected);
}

.iconWrapper__9293f:hover > *,
.clickable_c99c29:hover > * {
    opacity: 1;
    animation: buttonWiggle 800ms linear 0s 1 normal none;
    color: var(--interactive-active) !important;
}

.iconWrapper__9293f:active > *,
.clickable_c99c29:active > * {
    animation: buttonJump 400ms linear 0s 1 normal none;
}

.scrollableContainer__74017 {
    background: var(--bg-overlay-floating, var(--background-base-low))
}

.wrapper__44df5 {
    margin-bottom: var(--space-xs);
}

.chatLayerWrapper__01ae2 {
    position: absolute;
    z-index: 100;
}

.threadSidebarOpen_f75fb0 ~ .chatLayerWrapper__01ae2 {
    top: var(--custom-channel-header-height) !important;
    height: calc(100% - var(--custom-channel-header-height)) !important;
}

.chatLayerWrapper__01ae2 > * {
    border-radius: 0;
    width: var(--uirr-forum-panel-width) !important;
    transition: width var(--cui-transition-speed);
    border: 1px solid var(--border-subtle);
}

.floating__01ae2 {
    filter: none;
}

.resizeHandle__01ae2 {
    display: none;
}

div:not([class])[style^="min-width"] {
    display: none;
}

section.container__9293f {
    padding-left: var(--space-sm) !important;
}

section.container__9293f:has(.hoverableContainer__754bd) {
    padding-left: var(--space-xxs) !important;
}

.header_f37cb1 {
    padding: var(--space-sm);
}

.outer_c0bea0:not(.custom-theme-background) {
    background-color: var(--background-base-lower) !important;
}

.outer_c0bea0:not(.custom-theme-background) .overlay_c0bea0 {
    background-color: var(--background-base-low) !important;
    border: 1px solid var(--border-subtle) !important;
}

.container_fc561d,
.header_ab6641,
.channelHeader__35a7e,
.container_d404a3 {
    background-color: var(--background-base-low) !important;
}

.header__45690 {
    border-bottom: none;
}

.tabBar_ab6641 {
    padding-left: var(--space-sm);
}

.messages__1ccd1 {
    background-color: var(--background-base-lower) !important;
}

.container_fc561d {
    transform: translateY(-4px);
    border: 1px solid var(--border-subtle);
    box-shadow: none;
}

.wrapper__1405b,
.wrapper__1405b > * {
    flex-wrap: wrap;
    justify-content: center;
}

div:has(> .wrapper__1405b) {
    flex-shrink: 0 !important;
    max-width: 100%;
}

.top_b3f026 {
    gap: var(--space-xl);
    max-width: 100%;;
}

.top_b3f026 > .item_b3f026 {
    margin: 0 !important;
    padding: 0 var(--space-xxs) var(--space-sm) !important;
}

.contentRegion__23e6b,
.contentRegionScroller__23e6b {
    background: var(--background-base-lower) !important;
}

.settingsPage_f131e9 > h3 {
    font-size: 20px;
}

.container_dc2e0e::before {
    content: "Family Center";
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    color: var(--header-primary);
    margin-bottom: 32px;
}

.item__1bda4 {
    border: 1px solid var(--input-border);
    background: var(--input-background);
}

#profile-customization-tab h2 {
    color: var(--header-primary)
}

.bd-addon-card,
.bd-store-card,
.bd-addon-store-card {
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--border-subtle);
}

.bd-links {
    gap: var(--space-sm);
}

.bd-links .bd-addon-button:not(:first-child) {
    margin-left: 0 !important;
}

.bd-addon-store-modal {
    max-height: 90vh !important;
    overflow: hidden !important;
}

.bf-visible,
.bf-hover:hover {
    overflow: visible !important;
}

.bf-toolbar::before {
    background: var(--background-base-low) !important;
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--border-subtle);
    height: calc(100% - 16px) !important;
    left: -4px !important;
}

.bf-toolbar .format {
    padding: 0px !important;
    width: var(--space-32) !important;
    height: var(--space-32) !important;
    max-height: var(--space-32) !important;
    margin-right: var(--space-xs) !important;
    margin-top: -2px;
    justify-content: center;
}

.bf-toolbar .format:hover {
    background-color: var(--background-modifier-selected);
    transition: background-color 0.2s;
    border-radius: 8px;
}

.theme-light .bf-toolbar .format > *,
.theme-light .bf-toolbar .bf-arrow {
    filter: invert(1);
}

.bf-toolbar .format > * {
    width: 22px !important;
    height: auto !important;
}

.bf-toolbar .format:hover > * {
    opacity: 1;
    animation: buttonWiggle 800ms linear 0s 1 normal none;
}

.bf-toolbar .format:active > * {
    animation: buttonJump 400ms linear 0s 1 normal none;
}

main > section.container__9293f,
:not(.headerWrapper_cb9592) > .subtitleContainer_f75fb0,
.user-profile-sidebar .inner_c0bea0,
.content_f75fb0,
.tabBody__133bf {
    border-left: 1px solid var(--border-subtle);
}

.callContainer_cb9592 {
    border-left: 1px solid var(--border-subtle);
    border-top: none !important;
}

.colorable_f1ceac.disconnect_f1ceac {
    border: 1px solid var(--status-danger);
}

.colorable_f1ceac.disconnect_f1ceac:hover {
    border: 1px solid var(--red-460);
}

.noChat_cb9592:has(> .callContainer_cb9592) {
    border-top: 1px solid var(--border-subtle);
}

.sidebarRegion__23e6b {
    border-right: 1px solid var(--border-subtle);
}

.accountProfileCard__1fed1 {
    border: 1px solid var(--border-subtle);
}

@media (min-width: 1216px) {
    .threadSidebarOpen_f75fb0 .content_f75fb0 > * {
        flex-shrink: 100;
    }

    .threadSidebarOpen_f75fb0 .content_f75fb0::after {
        content: "";
        display: block;
        width: 450px;
        height: 100%;
    }
}

@keyframes buttonWiggle {
  0%,
  100% {
	transform: rotate(0deg);
	transform-origin: 50% 100%;
  }

  20%,
  40% {
	transform: rotate(3deg);
  }

  60%,
  80% {
	transform: rotate(-3deg);
  }
}

@keyframes buttonJump {
  0%,
  100% {
	transform: translateY(0px);
  }

  20%,
  30% {
	transform: translateY(1px);
  }

  60%,
  80% {
	transform: translateY(-1px);
  }
}
